body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    align-items: flex-start;
    width: 80%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#floor-numbers,
#call-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#floor-numbers {
    width: 10%;
    margin-right: 10px;
}

.floor-number {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
}

#elevators {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60%;
    height: 550px;
    position: relative;
    border: 1px solid #000;
    background: #fff;
    background-image: linear-gradient(to top, #E0E0E0 1px, transparent 1px);
    background-size: 100% 55px;
}

.elevator {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    background-color: transparent;
}

.elevator.moving path {
    transition: bottom 5s linear;
}

.elevator {
    fill: black;
}

.elevator.moving {
    fill: red;
}

.elevator.waiting {
    fill: red;
}

.elevator.arrived {
    fill: green;
}

.elevator.finished {
    fill: green;
}

#elevators .elevator {
    left: calc(20% * (var(--elevator-index) - 1));
}

.call-btn-container {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-btn {
    width: 200px;
    padding: 10px 80px;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.call-btn.waiting {
    background-color: red;
    cursor: not-allowed;
}

.call-btn.arrived {
    background-color: transparent;
    color: green;
    border: 2px solid green;
    cursor: default;
}

.waiting-time {
    margin-left: 10px;
    font-weight: bold;
}